body {
    background-color: #121212;
    overflow-x: hidden;
}

.div-head {
    position: relative;
    top: -25px;
    left: -10px;
    width: 106%;
    background-color: #222222;
}

.h1-name {
    position: relative;
    color: #FF6B6B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 350px;
    top: 25px;
}

a:hover {
    transition: 0.3s;
    color: #FF6B6B;
}

a:active {
    transition: 0.3s;
    color: white;
}

.about-us {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 24px;
    top: -28.5px;
    left: 1250px;
}

.contact-us {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 24px;
    top: -28.5px;
    left: 1350px;
}

.btn-theme {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 20px;
    top: -28.5px;
    left: 1450px;
    background-color: #222222;
    border: none;
}

.btn-theme {
    position: relative;
    font-size: 20px;
    top: -28.5px;
    left: 1450px;
    cursor: pointer;
}

.div-start {
    position: relative;
    background-color: #222222;
    width: 400px;
    height: 250px;
    left: 755px;
    border-radius: 15px;
}

.h1-quiz {
    position: relative;
    font-size: 26px;
    left: 85px;
    top: 45px;
    color: white;
}

.p-quiz {
    position: relative;
    font-size: 23px;
    left: 72.5px;
    top: 45px;
    color: white;
}

.start-quiz {
    position: relative;
    background-color: #FF6B6B;
    color: white;
    top: 55px;
    left: 100px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
